// Specific CSS for your home-page
.nav-bar{
  position: fixed;
  bottom: 0;
  height: 69px;
  width: 100vw;
  color: white;
  background-color: #007880;
  font-size: 12px;
  z-index: 1;
}

.nav-bar img{
  margin-top: 9px;
  margin-bottom: 4px;
  width: 30px;
  height: 33px;
}

.nav-bar a{
  text-decoration: none;
  color: white;
}

.home-header{
  height: 139px;
  background-color: #007880;
  color: white;
  text-align: center;
  h1{
    font-size: 46px;
  }
}

.container-fluid {
  height: calc(100vh - 69px - 139px);
}
