// Specific CSS for your home-page
body{
  margin-bottom: 75px;
  word-wrap: break-word;
  word-break:break-all;
}

.nav-bar{
  position: fixed;
  bottom: 0;
  margin-top: 65px;
  height: 65px;
  width: 100vw;
  color: white;
  background-color: #007880!important;
  font-size: 10px;
  letter-spacing: 1px;
  z-index: 2;
}

.nav-bar img{
  margin-top: 9px;
  margin-bottom: 4px;
  width: 30px;
  height: 35px;
}

.nav-bar a{
  text-decoration: none;
  color: white;
}

.btn-group.dropup{
  padding: 0;
  margin : 0;
  z-index: 4;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus{
  box-shadow: none;
}

.btn-secondary:focus{
  box-shadow: none;
}

.btn-group:focus,.btn-group:active {
   outline: none !important;
   box-shadow: none;
}

.button.btn.btn-secondary.dropdown-toggle{
  padding: 0!important;
  margin: 0!important;
}

.show > .btn-secondary.dropdown-toggle:focus{
  box-shadow: none!important;
}

.settings-icon{
  padding: 0!important;
  margin: 0!important;
  img{
    margin-top: 0;
    padding: 0;
  }
  font-size: 10px;
  letter-spacing: 1px;
}

.dropdown-menu{
  background-color: white;
  a{
    color: gray;
  }
  padding-left: 16px;
}

.home-header{
  height: 80px;
  background-color: #007880;
  color: white;
  text-align: center;
  h1{
    font-size: 20px;
  }
}

.container-fluid {
  height: calc(100vh - 69px - 93px);
  font-size: 14px;
}

.container-fluid img {
  width: 40px;
  height: 40px;
}

.row{
  height: 22%;
}

.flood img{
  width: 50px;
  height: 53px;
}

.image-on{
  position: relative;
}

.image-off{
  position: absolute;
  top: 30px;
}

.earthquake{
  background-color: white;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  .image-off{
  display:none;
  }
  &:hover{
    background-color: #007880;
    opacity: 0.8;
    color: white;
    .image-on {
      display: none;
    }
    .image-off{
      display: block;
    }
    p{
      margin-top: 45px;
    }
  }
}

.tsunami{
  background-color: white;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  .image-off{
  display:none;
  }
  &:hover{
    background-color: #007880;
    opacity: 0.8;
    color: white;
    .image-on {
      display: none;
    }
    .image-off{
      display: block;
    }
    p{
      margin-top: 45px;
    }
  }
}

.mudslides{
  background-color: white;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  .image-off{
  display:none;
  }
  &:hover{
    background-color: #007880;
    opacity: 0.8;
    color: white;
    .image-on {
      display: none;
    }
    .image-off{
      display: block;
    }
    p{
      margin-top: 45px;
    }
  }
}

.flood{
  background-color: white;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  .image-off{
  display:none;
  }
  &:hover{
    background-color: #007880;
    opacity: 0.8;
    color: white;
    .image-on {
      display: none;
    }
    .image-off{
      display: block;
    }
    p{
      margin-top: 45px;
    }
  }
}

.high-tide{
  background-color: white;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  .image-off{
  display:none;
  }
  &:hover{
    background-color: #007880;
    opacity: 0.8;
    color: white;
    .image-on {
      display: none;
    }
    .image-off{
      display: block;
    }
    p{
      margin-top: 45px;
    }
  }
}

.fire{
  background-color: white;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  .image-off{
  display:none;
  }
  &:hover{
    background-color: #007880;
    opacity: 0.8;
    color: white;
    .image-on {
      display: none;
    }
    .image-off{
      display: block;
    }
    p{
      margin-top: 45px;
    }
  }
}

.burst-pipe{
  background-color: white;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  .image-off{
  display:none;
  }
  &:hover{
    background-color: #007880;
    opacity: 0.8;
    color: white;
    .image-on {
      display: none;
    }
    .image-off{
      display: block;
    }
    p{
      margin-top: 45px;
    }
  }
}

.volcano{
  background-color: white;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  .image-off{
  display:none;
  }
  &:hover{
    background-color: #007880;
    opacity: 0.8;
    color: white;
    .image-on {
      display: none;
    }
    .image-off{
      display: block;
    }
    p{
      margin-top: 45px;
    }
  }
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .home-header{
  height: 90px;
  h1{
    font-size: 28px;
    }
  }

  .container-fluid img {
    width: 45px;
    height: 45px;
  }

  .container-fluid {
    height: calc(100vh - 65px - 100px);
    font-size: 14px;
  }

  .image-off{
    position: absolute;
    top: 45px;
  }

  .container-fluid img {
    width: 40px;
    height: 40px;
  }

  .row{
    height: 22%;
  }

  .flood img{
    width: 55px;
    height: 58px;
  }

  .earthquake{
    background-color: white;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    .image-off{
    display:none;
    }
    &:hover{
      background-color: #007880;
      opacity: 0.8;
      color: white;
      .image-on {
        display: none;
      }
      .image-off{
        display: block;
      }
      p{
        margin-top: 45px;
      }
    }
  }

  .tsunami{
    background-color: white;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    .image-off{
    display:none;
    }
    &:hover{
      background-color: #007880;
      opacity: 0.8;
      color: white;
      .image-on {
        display: none;
      }
      .image-off{
        display: block;
      }
      p{
        margin-top: 45px;
      }
    }
  }

  .mudslides{
    background-color: white;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    .image-off{
    display:none;
    }
    &:hover{
      background-color: #007880;
      opacity: 0.8;
      color: white;
      .image-on {
        display: none;
      }
      .image-off{
        display: block;
      }
      p{
        margin-top: 45px;
      }
    }
  }

  .flood{
    background-color: white;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    .image-off{
    display:none;
    }
    &:hover{
      background-color: #007880;
      opacity: 0.8;
      color: white;
      .image-on {
        display: none;
      }
      .image-off{
        display: block;
      }
      p{
        margin-top: 57px;
      }
    }
  }

  .high-tide{
    background-color: white;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    .image-off{
    display:none;
    }
    &:hover{
      background-color: #007880;
      opacity: 0.8;
      color: white;
      .image-on {
        display: none;
      }
      .image-off{
        display: block;
      }
    }
  }

  .fire{
    background-color: white;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    .image-off{
    display:none;
    }
    &:hover{
      background-color: #007880;
      opacity: 0.8;
      color: white;
      .image-on {
        display: none;
      }
      .image-off{
        display: block;
      }
    }
  }

  .burst-pipe{
    background-color: white;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    .image-off{
    display:none;
    }
    &:hover{
      background-color: #007880;
      opacity: 0.8;
      color: white;
      .image-on {
        display: none;
      }
      .image-off{
        display: block;
      }
      p{
        margin-top: 45px;
      }
    }
  }

  .volcano{
    background-color: white;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    .image-off{
    display:none;
    }
    &:hover{
      background-color: #007880;
      opacity: 0.8;
      color: white;
      .image-on {
        display: none;
      }
      .image-off{
        display: block;
      }
      p{
        margin-top: 45px;
      }
    }
  }
}
