header {
  position: relative;
  background-color: black;
  height: calc(100vh - 75px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  padding-top: 12%;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
  h1{
    font-weight: 500;
    opacity: 1;
    margin-top: 13%;
  }
  .btn-action{
    background-color: #3BB4C1;
    border-radius: 15px;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 500;
  }
  .btn-action:hover{
    background-color: #007880;
    text-decoration: none;
  }
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  header video {
    padding-top: 70%;
  }

  header .container{
    h1{
      font-weight: 500;
      opacity: 1;
      margin-top: 25%;
    }
    p {
      padding-bottom: 5px;
    }
  }
}
