header {
  position: relative;
  background-color: black;
  height: calc(100vh - 65px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 60%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 1;
  h1{
    font-weight: 500;
    opacity: 1;
    margin-top: 8%;
  }
  .btn-action{
    background-color: #3BB4C1;
    border-radius: 15px;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 700;
  }
  .btn-action:hover{
    background-color: #007880;
    text-decoration: none;
  }
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.container h5{
  margin-top: 36px;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 16px;
}

.download-btn {
  img{
    height: 24px;
  }

  h6{
  font-size: 14px;
  color: white;
  background-color: #007489;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  }

  h6:hover{
    background-color: #14B5D0;
  }
}

.iphone{
  h6{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

#iphoneModal{
  color: black;
  p{
  font-size: 17px;
  }
}

.modal-content{
  z-index: 9999;
}

.modal-header{
}

.modal-backdrop{
  z-index: 0!important;
}

.modal-footer{
  .safari{
    height: 56px;
  }

  background-color: #F9F9F9;
  text-align: center;
}

.modal-body{
  .iphone-icon{
    height: 70px;
    border-radius: 15px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 2px 0 rgba(0, 0, 0, 0.19);
  }
}

@media only screen and (max-width: 600px) {
  // mobile
  header {
    height: calc(100vh - 65px);
  }

  header video {
    padding-top: 50%;
  }

  header .container{
    h1{
      font-weight: 500;
      opacity: 1;
      margin-top: 10%;
    }
    p {
      padding-bottom: 5px;
      font-size: 18.5px;
    }
  }

  .container h5{
  margin-top: 24px;
  }
}
