<div class="home-header d-flex justify-content-center align-items-center">
  <h1>Select your shelter type</h1>
</div>

<div class="fluid-container">
  <div class="first-row d-flex justify-content-around">
    <div class="earthquake">
      <%= image_tag "", alt: "alttext" %>
      <p>Earthquake</p>
    </div>
    <div class="tsunami">
      <p>Tsunami</p>
    </div>
  </div>
  <div class="second-row d-flex justify-content-around">
    <div class="mudslides">
      <p>Mudslides</p>
    </div>
    <div class="flood">
      <p>Flood</p>
    </div>
  </div>
  <div class="third-row d-flex justify-content-around">
    <div class="high-tide">
      <p>High Tide</p>
    </div>
    <div class="fire">
      <p>Fire</p>
    </div>
  </div>
  <div class="fourth-row d-flex justify-content-around">
    <div class="burst-pipe">
      <p>Burst Pipe</p>
    </div>
    <div class="volcano">
      <p>Volcano</p>
    </div>
  </div>
</div>

