.details-search-bar input{
  border-radius: 15px;
}

.all-shelters a{
  text-decoration: none;
  a:hover{
    text-decoration: none;
  }
}

.shelter.card{
  border-radius: 10px;
  h4:hover {
  }
}

.shelter.card h4{
  color: black;
}

.shelter.card p{
  color: #43464B;
  font-size: 14px;
}
