.shelters-search-bar .form-control{
  width: 100vw;
}

.items-search-bar input{
  border-radius: 15px;
  margin-left: 16px;
}

.footer-buttons a{
  text-decoration: none;
  color: white;
  background-color: #3BB4C1;
  padding: 8px 16px;
  margin-right: 16px;
  border-radius: 16px;
  font-weight: 500;
  a:hover{
    background-color: #007880;
  }
}

.map-footer{
  background-color: #F1F3F8;
  text-align: center;
}

.no-shelter{
  background-image: image-url("homepage/door-hallway-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  width: 100vw;
  height: calc(100vh - 75px - 25px);
  color: white;
  h5{
    padding-top: 75%;
  }
  h6{
    font-weight: 300;
    font-style: italic;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .no-shelter{
    h5{
      padding-top: 20%;
      font-size: 36px;
    }
    h6{
      font-size: 24px;
      padding-top: 8px;
    }
  }

.items-search-bar input{
  width: 350px;
}

.footer-buttons{
  justify-content: space-around!important;
}

.footer-buttons a{
}

}
