.fa-star.favorite {
  color: yellow;
  font-size: 32px;
  &:hover {
    opacity: 0.5;
  }
}

.fa-star.not-favorite {
  color: black;
  font-size: 32px;
  &:hover {
    color: blue;
  }
}

.post-tag {
  color: white;
  background-color: gray;
  padding: 0 4px;
  border-radius: 4px;
}
