.fa-star.favorite {
  color: yellow;
  font-size: 32px;
  &:hover {
    opacity: 0.5;
  }
}

.fa-star.not-favorite {
  color: black;
  font-size: 32px;
  &:hover {
    color: blue;
  }
}

.post-tag {
  color: white;
  background-color: gray;
  padding: 0 4px;
  border-radius: 4px;
}

.checkbox_hidden {
  display: none;
}

.tag-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.tag-choice {
  background: #b7b7b7;
  padding: 10px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $blue;
  color: white;
  opacity: 1;
  }
}
