.shelters-search-bar .form-control{
  width: 100vw;
}

.items-search-bar{
  margin-left: -4px;
}

.items-search-bar input{
  border-radius: 15px;
}

.footer-buttons a{
  text-decoration: none;
  color: white;
  background-color: #3BB4C1;
  padding: 8px 16px;
  margin-right: 16px;
  border-radius: 16px;
  font-weight: 500;

  a:hover{
    background-color: #007880;
  }
}

.footer-buttons a:hover{
  background-color: #007880!important;
}

.map-footer{
  text-align: center;
  padding-top: 14px;
}

.map-footer .top-posts p{
  padding: 0;
  margin: 0;
}

.top-posts{
  a{
    text-decoration: none;
    color: black;
  }

  a:hover{
    text-decoration: none;
    color: #007880;
  }
  h6{
    background-color: #007880;
    color: white;
  }
}

.no-shelter{
  background-image: image-url("homepage/door-hallway-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  width: 100vw;
  height: calc(100vh - 75px - 25px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  h5{
  }
  h6{
    font-weight: 300;
    font-style: italic;
  }
}

.items-search-bar input{
  width: 350px;
}

// helpers index

/* The Overlay (background) */
#infoDetails{
  z-index: 10;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  height: 110vh;
  margin-top: 30px;
}


.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: #007880;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #3BB4C1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.foot p{
  margin-top: -15px!important;
}

.post-card-head{
  background-color: #007880;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

.post-hearts i{
  font-size: 12px;
}

.poster{
  position: relative;
}

.poster i.fa-check-circle{
  position: absolute;
  font-size: 16px;
  left: 30px;
  top: 27px;
}

.post-body{
  p{
    text-decoration: none;
    color: black;
  }
  p:hover{
    text-decoration: none;
    color: black;
  }
  h6{
    text-decoration: none;
    color: black;
  }
  h6:hover{
    text-decoration: none;
    color: black;
  }

}

.area-footer-buttons{
  p{
    color: white;
    background-color: #3BB4C1;
    padding: 8px 16px;
    border-radius: 16px;
    font-weight: 500;
    margin-left: 120px;
    margin-right: 120px;
  }
}

.area-footer-buttons p:hover{
    background-color: #007880;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .map-footer{
    text-align: center;
    margin-top: 18px;
  }

  .top-posts{
    margin-top: 12px;
  }

  .items-search-bar{
    margin-left: 0px;
  }

  .footer-buttons a{
    margin-top: 10px;
  }

  .area-footer-buttons{
    p{
      margin-right: 300px;
      margin-left: 300px;
    }
  }
}
