.container-fluid.page-comments{
  width: 100vw;
  height: calc(100vh);
}

.chat-header {
  width: 100vw;
  background-color: #32767F;
  color: white;
  text-align: center;
  margin-left: -15px;
  h4 {
    margin: 0;
  }
  a{
    text-decoration: none;
    color: white;
    opacity: 0.5;
    font-size: 10px;
  }

  a:hover{
    opacity: 1;
  }
}

.chat-body{
  overflow: scroll;
}

.green{
  color: #32767F;
}

.post-description a{
  color: black;
}

.post-description a:hover{
  color: #32767F;
}

textarea {
  height: 35px!important;
  border: 0 none white;
  overflow: hidden;
  padding: 0;
  outline: none;
}

.cmtarea {
  font-weight: 500;
  border-color: #3BB4C1;
  background-color: #3BB4C1;
  width: 100%;
}

.cmtarea:hover {
  font-weight: 500;
  border-color: #32767F;
  background-color: #32767F;
  width: 100%;
}

.comment-area{
  height: calc(100vh - 69px - 73px - 173px);
}

.comments {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: 70%;
  overflow-y: scroll;
}

.comment {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
    }
  }
}
.comment-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-comment {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}
.comment_content {
  margin-bottom: 0;
}
input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}

.post-info{
  background-color: white;
}

.post-description {
  opacity: 0.8;
}

.post-description p{
  font-size: 16px;
}


