#notification-counter {
  position: absolute;
  top: 3px;
  right: 25px;

  background-color: rgb(212, 78, 3);
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font: 8px Verdana;
}


.notif-icon {
  position: relative;
}

.notif-icon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hide-counter {
  opacity: 0;
}
