HELLO WORLD

<!-- <div class="container">
  <div class="all-posts cards mt-5">
    <div class="rows">
      <#% @shelters.each do |shelter| %>
      <%#= link_to shelter_path(shelter) do %>
        <div class="post card mb-3 animated fadeInUp">
          <#% shelter.posts.order(cached_votes_up: :desc)[0..2].each do |post| %>
          <div class="post-card-header">
            <h3 class="ml-3 pt-3 pb-2"> <%#= post.hinanjyo.place_name  %></h4>
          </div>
          <div class="post-body d-flex justify-content-between">
            <p class="mx-3"><%#= post.description.truncate(80) %></p>
            <div class="post-likes d-flex">
              <i class="fas fa-thumbs-up fa-2x mt-3 mr-2"></i>
              <p class="mt-3 mr-3"><%#= post.get_likes.size  %></p>
            </div>
          </div>
          <div class="date-posted ml-3 mb-2">
            <p><%#= post.created_at.strftime("%b. %d, %I:%M %p ") %></p>
          </div>
        </div>
        <#% end %>
      <#% end %>
    <#% end %>
    </div>
  </div>
</div> -->


