<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="padding: 0;">
      <div class="shelters-map">
        <div class="shelters-search-bar">
          <%= form_tag shelters_path, method: :get do %>
            <%= text_field_tag :location,
              params[:location],
              class: "form-control", id: "location_input",
              placeholder: "Search location..."
            %>
          <% end %>
        </div>
        <div
            id="map"
            data-markers="<%= @markers.to_json %>"
        ></div>
      </div>
    </div>
  </div>
</div>

<!-- search bar should submit on enter -->
<script>
  const search = document.querySelector(".shelters-search-bar");
  search.addEventListener('keypress', (event) => {
    const key = event.which || event.keyCode;
    if (key === 13) { // 13 is enter
      // code for enter
      window.location.href = "/shelters";
    }
  });
</script>

