.make-request-bg {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),
  image-url("make-request.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.make-request-form {
  padding-top: 64px;
}

.form-inputs {
  color: white;
}

.form-inputs input {
  font-size: 1rem;
}

.form-text {
  border-radius: 10px;
}

.form-description {
  height: auto !important;
  border-radius: 20px;
}

.form-submit {
  color: white;
  font-weight: 500;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  border-color: #048998;
  background-color: #048998;
  width: 100%;
  &:hover {
    color: white;
    border-color: #3BB4C1;
    background-color: #3BB4C1;
  }
}

.checkbox_hidden {
  display: none;
}

.tag-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.tag-choice {
  background-color: rgba(0,120,128, 0.6);
  padding: 6px;
  border: 2px solid #3BB4C1;
  border-radius: 20px;
  opacity: 1;
  flex: 0 0 30%;
  text-align: center;
  color: white;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: #3BB4C1;
  color: white;
  opacity: 1;
  }
}
