.number-of-likes > p{
  font-size: 14px;
}

.fa-arrow-alt-circle-up {
  color: gray;
 }

.fa-arrow-alt-circle-up.voted {
  color: $red;
  &:hover {
    opacity: 0.7;
  }
}

.fa-arrow-alt-circle-up.not-voted {
  color: gray;
  &:hover {
    opacity: 0.7;
  }
}
