i{
  text-decoration: none;
  color: #3BB4C1;
}

i.fa-heart.voted {
  color: #3BB4C1;
  i.fa-heart.voted:hover{
    text-decoration: none;
    opacity: 0.5;
  }
}

i.fa-heart.not-voted {
  color: gray;
  i.fa-heart.not-voted:hover{
    text-decoration: none;
    color: #3BB4C1;
  }
}

.number-of-likes > p{
  font-size: 14px;
}

.fa-arrow-alt-circle-up {
  color: gray;
 }

.fa-arrow-alt-circle-up.voted {
  color: $red;
  &:hover {
    opacity: 0.7;
  }
}

.fa-arrow-alt-circle-up.not-voted {
  color: gray;
  &:hover {
    opacity: 0.7;
  }
}

.post-user{
  position: relative;
}

.post-user i{
  position: absolute;
  top: 28px;
  left: 32px;
  text-decoration: none;
  color: #3BB4C1;
  i:hover{
    text-decoration: none;
    color: #3BB4C1;
  }
}

.post-description {
  word-wrap: break-word;
}

.cant-comment{
 a {
  font-weight: 700;
  color: #3BB4C1;
  }
  font-size: 13px;
}

.completed {
  font-weight: 500;
  border-color: #8b0000;
  background-color: #8b0000;
  width: 100%;
  opacity: 0.5;
}

.completed:hover {
  font-weight: 500;
  border-color: #8b0000;
  background-color: #8b0000;
  opacity: 1;
  width: 100%;
}
